.nav-container {
  height: 70px;
  background-color: #9796f0;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 50px;
}
.logo {
  height: 30px;
}
.logo-heading {
  font-size: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.top-score {
  font-size: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  margin-left: 20px;
}

.top-score-2 {
  font-size: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
}
